<!DOCTYPE html>
<html>
  <head>
    <title>忘记密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script type="text/javascript">

    </script>
  </head>
  <body>
    <div id="base"style="width:400px;margin:auto;margin-top: 160px;">
        <div id="u3" class="text">
          <p><span>请联系管理员刘泰&nbsp; </span></p><p><span>电话：15652157728</span></p><p><span>邮箱：15652157728@163.com</span></p>
        </div>
        <div>
          <a href="/">返回首页</a>
        </div>
    </div>
  </body>
</html>
