   <div style="margin:20px 0;"></div>
    <div class="easyui-panel" title="新增角色" style="width:400px;padding:30px 60px">
        <div><h2>分配权限:</h2></div>

        <form id="ff">
            <div><h2>会员管理:</h2>
                <div style="margin-bottom:20px">
                    <input class="easyui-checkbox" name="fruit" value="member_manager" label="会员管理:">
                </div>
            </div>
            <div><h2>资讯管理:</h2>
                <div style="margin-bottom:20px">
                    <input class="easyui-checkbox" name="fruit" value="info" label="资讯:">
                    <input class="easyui-checkbox" name="fruit" value="veh_report" label="车型投资报告:">
                    <input class="easyui-checkbox" name="fruit" value="Orange" label="网络搜索:">
                    <input class="easyui-checkbox" name="fruit" value="Banana" label="资讯审核:">
                    <input class="easyui-checkbox" name="fruit" value="Orange" label="资讯发布:">
                    <input class="easyui-checkbox" name="fruit" value="Banana" label="资讯列表:">
                    <input class="easyui-checkbox" name="fruit" value="Orange" label="搜索标签定义:">
                    <input class="easyui-checkbox" name="fruit" value="Banana" label="搜索标签定义:">
                <div style="margin-bottom:20px">
                      <input class="easyui-checkbox" name="fruit" value="Banana" label="Banana:">
                </div>
            </div>
            </div>
        </form>

        <div>
            <a href="#" class="easyui-linkbutton" style="width:70px;height:32px">保存</a>
        </div>
    </div>



